form {
  width: 70vw;
  margin: 0 auto;
}

body {
  background-image: url(https://data.whicdn.com/images/268494218/original.jpg);
  background-color: #fed6d6;
  background-repeat: no-repeat;
  background-position: bottom right;
  font-family: "Fuzzy Bubbles", cursive;
  color: #705d56;
}

::placeholder {
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 0.8rem;
}

fieldset.field1 {
  background-color: #f3f4f5;
  border: 0;
  border-bottom: 1px solid #d49d8e;
  border-radius: 10px;
  width: 500px;
  margin: auto;
}

h1 {
  color: #683b2b;
  text-align: center;
  font-size: 2.7em;
}
p {
  color: #936e4e;
  text-align: center;
}

fieldset.field1 p {
  color: #936e4e;
  text-align: center;
  font-weight: bold;
}

img {
  object-fit: cover;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  opacity: 1;
}

img.unactive {
  opacity: 0.5;
}

input,
label {
  //display: block;
  // margin: 0 0 0.5rem 0;
}

input[type="submit"] {
  display: block;
  margin: 1em auto;
  font-size: 3em;
  min-width: 500px;
}

input[type="text"] {
  font-size: 1.1rem;
  display: block;
  border-radius: 10px;
  border: none;
  min-width: 300px;
  width: 70%;
}

input[type="email"] {
  font-size: 1.1rem;
  display: block;
  border-radius: 10px;
  border: none;
  min-width: 300px;
  width: 70%;
}

input[type="number"] {
  font-size: 1.1rem;
  display: block;
  border-radius: 10px;
  border: none;
  min-width: 250px;
  width: 70%;
}

textarea {
  border-radius: 10px;
}

.choice {
  display: block;
  margin: 0.5rem 0;
}

input {
  margin: 10px 0 0 0;
  padding-top: 2px;
}

input.inline {
  width: inline;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
